
/*created by online student .io*/

body,
h1,h2,h3,h4,h5,h6,
p,
article
{
    margin: 0;
    padding: 0;
}

section.Day-2-SocialProfile{
    max-width: 1700px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: lightblue;
}

header.social-profile-header{
    width: 100%;
    height: 100px;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;
    font-family: serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(84, 84, 84);

    box-shadow: -2px 4px 12px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 4px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 4px 12px -2px rgba(0,0,0,0.75);
}

main.social-profile-main {
    max-width: 700px;
    width: 100%;
    max-height: 250px;
    height: 100%;
    margin: 190px auto 0px;
    border: 2px solid grey;

    display: flex;
}

.main-left{
    max-width: 250px;
    width: 100%;
    background-color: green;
}

.main-left img {
    width: auto;
    height: 100%;
}

.main-right{
    flex: 2;
    background-color: rgb(220, 220, 220);
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-left: 2px solid grey;
}

main h2 {
    color: white;
    text-align: center;
    color: rgb(84, 84, 84);
}

main p {
    color: white;
    text-align: center;
    color: rgb(84, 84, 84);
}

main article {
    color: white;
    text-align: center;
    margin-top: auto;
    color: rgb(84, 84, 84);
}

.div-social{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
}

main div .fa {
    padding: 8px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .created-by{
    width: fit-content;
    margin: 0 auto;
    font-size: 10px;
  }
  
  


